/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    overflow: auto;
    background-color: #141922;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

h3 {
    color: #fff;
    margin: 10px 0;
}

h4 {
    color: #fff;
}

p {
    color: gray;
    font-size: 0.8rem;
}


/* Utils */
.btn {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gray;
}

.xs {
    height: 15px;
    width: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.br50 {
    border-radius: 50%;
}

.fa-regular.big {
    font-size: 25px;
}

/*? Display */
.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}


/*! Sidebar  */
#sidebar {
    flex-basis: 50px;
    background-color: #000;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.top-nav,
.bottom-nav {
    margin: 10px;
    line-height: 30px;
    text-align: center;
}


/* Top nav */
.top-nav {
    overflow: hidden;
    height: calc(100% - 90px);
}

.playlist {
    margin-top: 10px;
}


.playlist h4 {
    text-transform: uppercase;
}

.playlist-action {
    color: gray;
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlist-list {
    color: gray;
}

.playlist-list a {
    text-transform: none;
}

/* Bottom Nav */
.bottom-nav {
    height: 90px;
}

.install {
    margin-bottom: 10px;
}

.profile {
    text-align: left;
}

.install span,
.profile span {
    font-size: 12px;
}

.install a,
.profile a {
    text-transform: none;
}

.install img,
.profile img {
    vertical-align: middle;
}

.profile span {
    color: #fff;
    font-weight: 600;
}

/*? Main */
main {
    flex-grow: 1;
    overflow: auto;
}

/* Main Header */
#main-header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);

    position: sticky;
    left: 0;
    top: 0;
    right: 0;

    text-align: right;
    line-height: 80px;
    padding-right: 20px;

    margin-bottom: 20px;
}

/* Section Options */
.options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    font-size: 0.8rem
}

/* Section Play */
#section-play {
    margin-top: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -10px;
}

.col {
    flex-basis: 50%;
    padding: 10px;
}

.card {
    text-align: center;
}


/** Footer */
footer {
    height: 100px;
    flex-shrink: 0;
    background-color: #282828;

    display: flex;
    gap: 10px;
}

/* Footer Info */
.footer-info {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.footer-info figure {
    height: 50px;
    width: 50px;
}

.info-action i {
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Footer Options */
.footer-options {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-action {
    text-align: center;
    margin-bottom: 20px;
}

.options-action i {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
}

.options-time {
    display: flex;
    align-items: center;
    gap: 5px;
}

.progress-bar {
    flex-grow: 1;
    border-bottom: 4px solid gray;
    border-radius: 2px;

    position: relative;
}

.progress-bar .current-progress {
    border: 2px solid white;
    border-radius: 2px;
    width: 35%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.options-time p {
    flex-basis: 10%;
}

/* Footer Action */
.footer-action {
    flex-basis: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.action-icons {
    flex-basis: 40%;
    text-align: right;
}

.action-icons i {
    color: #fff;
    font-size: 12px;
    line-height: 100px;
}

.action-bar {
    flex-grow: 1;
    border-bottom: 4px solid gray;
    border-radius: 2px;
    margin-right: 10px;

    position: relative;
}

.action-bar .bar-progress {
    border: 2px solid white;
    border-radius: 2px;
    width: 35%;

    position: absolute;
    left: 0;
    top: 0;
}

/* Media Query */
@media screen and (min-width: 576px) {

    /*? Display */
    .d-sm-none {
        display: none;
    }

    .d-sm-inline {
        display: inline;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }

    /*! Sidebar */
    #sidebar {
        flex-basis: 200px;
        align-items: start;
    }

    /* Top Nav */
    .top-nav {
        text-align: left;

    }

    .top-nav ul {
        margin-top: 20px;
    }

    .top-nav li img {
        width: 30px;
        vertical-align: middle;
        margin: 5px 0;
    }

    .top-nav li a span {
        text-transform: none;
    }

    /* Bottom Nav */
    .install {
        width: 180px;
        border-bottom: 1px solid gray;
        text-align: left;
    }
}